.tree-view

    &__container
        background-color #FFF
        padding 5px
        height 390px
        width 350px
        overflow auto

    &__header
        text-align center
        font-weight bold