.tree-item
    padding 3px 5px
    color: #2b4150
    max-width 150px
    overflow-wrap: break-word
    cursor pointer
    width fit-content
    border-radius 4px

    &:hover
        background-color #ffffcc

    &_selected
        background-color #2b4150
        color white

    &_selected:hover
        background-color #2b4150

    &_deleted
        background-color lightpink

    &_deleted:hover
        background-color lightpink