.tree-editor
    background-color rgba(205,205,205,0.17)
    padding 8px
    margin 20px

    &__header
        font-weight bold
        text-align center
        margin-top 5px
        margin-bottom 30px

    &__tree-view-container
        display flex
        flex-wrap wrap
        flex-direction row
        justify-content space-around